<div class="background p-5 rounded">
    <h1 class="text-center mb-4">Iniciar Sesión</h1>
    <form action="">
        <div class="mb-3">
            <label for="user" class="form-label h5 text-muted">Usuario</label>
            <input type="text" class="form-control" id="user" aria-describedby="userHelp">
            <div id="userHelp" class="form-text">Username for log-in.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label h5 text-muted">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="passwordHelp">
            <div id="passwordHelp" class="form-text">Password for log-in.</div>
        </div>
        <div class="justify-content-end d-flex">
            <button class="btn btn-lg btn-outline-dark" type="submit">Enviar</button>
        </div>
    </form>
</div>